<div class="main_contents">
    <% @posts.each do |post| %>
        <div class="post_contents">
          <p><%= User.find(post.user_id).username %></p>
          <p><%= link_to post.title, post_path(post.id) %></p>
          <%= post.body %>

         <!-- ↓追加(部分的に更新したい場所)↓ -->
          <div id="likes_buttons_<%= post.id %>">
             <%= render partial: 'likes/like', locals: { post: post} %>
          </div>
         <!-- ↑ここまで↑ -->
        </div>
  <% end %>
</div>