<p><%= @post.title %></p>
<p><%= @post.body %></p>

<p>
  <i class="fas fa-user"></i>
  <%= link_to "#{@post.user.username}", user_path(@post.user_id), remote: true %>さんの投稿を見る
</p>

<div id="likes_buttons_<%= @post.id %>">
   <%= render partial: 'likes/like', locals: { post: @post} %>
</div>



<% if user_signed_in? %>
  <% if current_user.id == @post.user.id %>
    <p><%= link_to "編集", edit_post_path(@post), class: "js-post-edit", remote: true %></p>
    <p><%= link_to "投稿を削除", "posts/#{@post.id}", data: {confirm: "削除しますか？", remote: true}, method: :delete %></p>
  <% else %>
  <% end %>
<% else %>
<% end %>

<% @comments.each do |comment| %>
  <p>
    <i class="fas fa-user"></i>
    <%= link_to "#{User.find(comment.user_id).username}", user_path(comment.user_id), remote: true %>
  </p>
  <%= comment.body %>
  <% if user_signed_in? %>
    <% if current_user.id == comment.user_id %>
      <%= link_to "コメントを編集", edit_comment_path(comment), remote: true %>
      <%= link_to "削除", "comments/#{comment.id}", data: { confirm: "削除しますか？", remote: true }, method: :delete %>
    <% end %>
  <% end %>
</br>
<% end %>

<% if user_signed_in? %>
  <p><%= link_to "コメントを作成", new_comment_path(post_id: @post.id), remote: true %></p>
<% else %>
  <p><%= link_to "コメントを作成", new_user_session_path, data: { confirm: "ログイン画面に進みますか？" } %></p>
<% end %>

