<h1>show</h1>
<p><%= @post.title %></p><%= @post.liked_users.count %>
<p><%= @post.body %></p>

<div id="likes_buttons_<%= @post.id %>">
   <%= render partial: 'likes/like', locals: { post: @post} %>
</div>

<p><%= link_to "編集", edit_post_path(@post) %></p>
<p><%= link_to "投稿を削除", {controller: :posts, action: :destroy}, data: {confirm: "削除しますか？"}, method: :delete %></p>
<p><%= link_to "一覧へ", root_path %></p>