<!DOCTYPE html>
<html>
  <head>
    <title>TalkIbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">



  </head>

  <body>
    <% if current_user %>
      <div>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </div>
    <% else %>
      <div>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
