<!DOCTYPE html>
<html>
  <head>
    <title>TalkIbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">



  </head>

  <body>
      <i class="far fa-caret-square-up fa-3x" id="scroll_to_top"></i>


    <%= yield %>
  </body>
</html>
